<header>
  <nav class="navbar-box">
    <div class="navbar-row">
      <div class="left-part">
        <div class="nav-item nav-item-side">
          <a class="nav-link" aria-current="page" routerLink="/about">
            <img src="/assets/icons/icon-about.png" />
          </a>
        </div>
        <div class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/help">
            <img src="/assets/icons/icon-help.png" />
          </a>
        </div>
      </div>
      <div class="nav-item-brand">
        <a class="nav-link" aria-current="page" routerLink=""
          >СОЗНАТЕЛЬНЫЙ ГРАЖДАНИН</a
        >
      </div>
      <div class="right-part">
        <div class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/notifications">
            <img src="/assets/icons/icon-notifications.png" />
          </a>
        </div>
        <div class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/messanger">
            <img src="/assets/icons/icon-messages.png" />
          </a>
        </div>
        <div class="nav-item тфм-шеуь-side">
          <a class="nav-link" aria-current="page" routerLink="/profile">
            <img src="/assets/icons/icon-profile.png" />
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
