.navbar-row {
    display        : flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.left-part, .right-part {
    display: flex;
    width: 17%;
}

.left-part {
    justify-content: start;
}

.right-part {
    justify-content: end;  
}

.nav-item-brand {
    width: 60%;
    display: flex;
    justify-content: center;
}

.nav-item {
    list-style-type: none;
    margin-left: 10%;
}

.nav-item-side {
    margin: 0;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

.navbar-box {
    background: #3F51B5;
    height: 80px;
    width: 100%;
}
