<div class="about-wrapper">
  <div class="about-title">О проекте "Сознательный гражданин"</div>
  <div class="about-box">
    Компания «ЭкоВыбор» занимается сортировкой, вывозом и переработкой различных
    отходов, а также вывоз строительного мусора. На данный момент компания
    работает в г. Самара, но в будущем планирует развить географию своей
    деятельности на соседние регионы, такие как Ульяновск, Казань и т.д.
  </div>
  <div class="about-box">У компании имеется <a href="http://eco-choice63.tilda.ws/">сайт</a></div>
  <div class="about-box">Проект направлен на повышение гражданской сознательности населения.</div>
  <div class="about-box">Вы как пользователь можете:</div>
  <ul class="about-box">
    <li>Зарегистрироваться на сайте</li>
    <li>Авторизоваться на сайте / восстановить пароль;</li>
    <li>Посмотреть / отредактировать данные в личном кабинете;</li>
    <li>Посмотреть / выбрать рубрикатор инцидентов;</li>
    <li>Посмотреть уже созданные сообщения инцидентов;</li>
    <li>Создать новое сообщение инцидента;</li>
    <li>
      Заполнить поля со своими данными (ФИО, телефон, адрес, адрес электронной
      почты и т.д.)
    </li>
    <li>
      Установить на карте метку инцидента с помощью геолокации / прописать адрес
      инцидента;
    </li>
    <li>Прикрепить к сообщению фотографии инцидента;</li>
    <li>Добавить описание инцидента;</li>
    <li>
      Создать документ для обращения в соответствующее инциденту ведомство;
    </li>
    <li>
      Сохранить документ в черновиках на сайте (для последующей корректировки);
    </li>
    <li>Сохранить документ на устройство;</li>
    <li>Отправить документ на e-mail или распечатать на принтере.</li>
  </ul>
  <div class="about-box">В проекте соблюдается следующий набор требований:</div>
  <ul class="about-box">
    <li>Соблюдение 152 ФЗ «О персональных данных»</li>
    <li>
      Информационные экраны и подтверждения - Пользовательское соглашение и
      политика конфиденциальности
    </li>
    <li>
      Использование OpenStreetMap соответствует
      <a href="https://www.openstreetmap.org/copyright"
        >Условием использования</a
      >
    </li>
  </ul>
</div>
