<div class="info">
  <h1 class="title">Рубрика</h1>

  <mat-form-field class="event-select" appearance="fill">
    <mat-select [formControl]="eventType" disableRipple>
      <mat-option
        *ngFor="let option of eventTypes | keyvalue"
        [value]="option.key"
      >
        {{ option.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card *ngIf="selectedEvent" class="card">
    <mat-card-header class="card-header">
      <mat-card-title>{{ selectedEvent.name }}</mat-card-title>
      <mat-card-subtitle>{{ selectedEvent.type }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
      <p>
        {{ selectedEvent.description }}
      </p>
    </mat-card-content>
    <img class="card-image" [src]="selectedEvent.imageBase64" />
  </mat-card>

  <mat-card *ngIf="!selectedEvent" class="card">
    <mat-card-content class="card-content">Выберите событие</mat-card-content>
  </mat-card>

  <button class="button" mat-raised-button color="primary">
    Создать сообщение
  </button>
</div>

<div class="map-container">
  <div id="map" class="map"></div>
</div>
