:host {
    --margin: 20px;
    --color: #DFD9E8;
    --border-radius: 5px;
}

.info {
    flex: 30%;
}

.title {
    margin: var(--margin);
}

.event-select {
    border-radius: var(--border-radius);
    margin: var(--margin);
}

.mat-card {
    padding: 0px;
    margin: var(--margin);
}

.card-header {
    background-color: var(--color);
}

.card-content, .button {
    margin: var(--margin);
}

.card-image {
    width: 100%;
}

.map-container {
    flex: 70%;
}

.map {
    height: 90vh;
}

::ng-deep .event-select .mat-form-field-flex {
    background-color: var(--color);
}



